# Azure SQL Database
SQL_SERVER=sql-lab-avancado.database.windows.net
SQL_DATABASE=sqldb-lab-avancado
SQL_USER=sqladmin
SQL_PASSWORD=SuaSenhaForte123!

# Azure Service Bus
SERVICEBUS_CONNECTION_STRING=Endpoint=sb://sb-lab-avancado.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=...
SERVICEBUS_QUEUE_NAME=order-queue

# App Config
PORT=3001
NODE_ENV=development

# App Service callback URL (used by Azure Functions to notify events)
APP_CALLBACK_URL=https://app-lab-avancado.azurewebsites.net

# Azure API Management (APIM)
APIM_BASE_URL=https://apim-lab-avancado.azure-api.net/retail
APIM_SUBSCRIPTION_KEY=sua-subscription-key-aqui

# Microsoft Entra ID (Azure AD) — App Registration
AZURE_TENANT_ID=seu-tenant-id
AZURE_CLIENT_ID=client-id-do-app-reg-lab-dashboard
AZURE_CLIENT_SECRET=client-secret-do-app-reg-lab-dashboard
AZURE_API_SCOPE=api://client-id-do-app-reg-lab-api/.default
